extends layout

block content
  h1 Liste des salles
  br
  .container
    p 
      a.btn.btn-primary(href="create") Créer une salle
    br
    if rooms.length != 0
      table.table#roomTable
        thead
          tr
            th(scope="col") Date de lancement
            th(scope="col") Heure de lancement
            th(scope="col") Joueurs max.
            th(scope="col") Balance de départ
            th(scope="col") Min Bet
            th(scope="col") Max Bet
            th(scope="col") Actions
        tbody
          each room, i in rooms
            tr
              td(scope="row") #{moment(room.open_at).format("ddd DD MMM YYYY")}
              td #{moment(room.open_at).format("HH:mm")}
              td #{room.max_player}
              td #{room.balance}
              td #{room.min_bet}
              td #{room.max_bet}
              td
                a.margin.btn.btn-secondary(href="/admin/rooms/edit/" + room._id)
                  i.fa.fa-edit
                a.margin.btn.btn-danger.delete-room(href="#", data-id=room._id)
                  i.fa.fa-trash
    else
      p Aucune salle créée...
  script.
    $(document).ready( function () {
      $('#roomTable').DataTable({
        responsive: true,
        "order": [[ 0, "desc" ]],
        language: {
          processing: "Traitement en cours...",
          search: "Rechercher&nbsp;:",
          lengthMenu: "Afficher _MENU_ &eacute;l&eacute;ments",
          info: "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
          infoEmpty: "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
          infoFiltered: "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
          infoPostFix: "",
          loadingRecords: "Chargement en cours...",
          zeroRecords: "Aucun &eacute;l&eacute;ment &agrave; afficher",
          emptyTable: "Aucune donnée disponible dans le tableau",
          paginate: {
            first: "Premier",
            previous: "Pr&eacute;c&eacute;dent",
            next: "Suivant",
            last: "Dernier"
          },
          aria: {
            sortAscending: ": activer pour trier la colonne par ordre croissant",
            sortDescending: ": activer pour trier la colonne par ordre décroissant"
          },
        },
      });
    });

