extends layout

block content
  h1 Liste des publicités
  br
  .container
    p 
      a.btn.btn-primary(href="create") Créer une publicité
    br
    if ads.length != 0
      table.table#adsTable
        thead
          tr
            th(scope="col") Image
            th(scope="col") Emplacement
            th(scope="col") Description
            th(scope="col") Pointe vers
            th(scope="col") 
        tbody
          each ad, i in ads
            tr
              td 
                img(src=ad.link, alt="Image de publicité").img-fluid
              td(scope="row") #{ad.location}
              td #{ad.description}
              td
                a(href=ad.pointsTo)= ad.pointsTo
              td
                a.margin.btn.btn-secondary(href="/admin/ads/edit/" + ad._id)
                  i.fa.fa-edit
                a.margin.btn.btn-danger.delete-ad(href="#", data-id=ad._id)
                  i.fa.fa-trash
    else
      p Aucune publicité créée...
  script.
    $(document).ready( function () {
      $('#adsTable').DataTable({
        responsive: true,
        "order": [[ 0, "desc" ]],
        language: {
          processing: "Traitement en cours...",
          search: "Rechercher&nbsp;:",
          lengthMenu: "Afficher _MENU_ &eacute;l&eacute;ments",
          info: "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
          infoEmpty: "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
          infoFiltered: "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
          infoPostFix: "",
          loadingRecords: "Chargement en cours...",
          zeroRecords: "Aucun &eacute;l&eacute;ment &agrave; afficher",
          emptyTable: "Aucune donnée disponible dans le tableau",
          paginate: {
            first: "Premier",
            previous: "Pr&eacute;c&eacute;dent",
            next: "Suivant",
            last: "Dernier"
          },
          aria: {
            sortAscending: ": activer pour trier la colonne par ordre croissant",
            sortDescending: ": activer pour trier la colonne par ordre décroissant"
          },
        },
      });
    });

